@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F2E8D5;
  color: #22303A;
}

.faq-answer {
  overflow: hidden;
  transition: max-height 0.25s ease;
}
